   {% load staticfiles %}

<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DronoLab</title>

    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  {% endblock %}
</head>

<body>
{% block body %}
<p>URL of this page: {{ request.path|urlencode }}</p>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">DronoLab</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">
        {% block content %}
        <!-- Drono Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Images reçues

                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- DronoLab Item Row -->
        <div class="row">

            <div class="col-md-8">
                {% if images.source == None %}
                    <img class="img-responsive" src="{% static  'media/no-image.png' %}" alt="">
                {% else %}
                {% with 'media/'|add:images.source as image_static %}
                <img class="img-responsive" src="{% static  image_static %}" alt="">
                {% endwith %}
                {% endif %}
            </div>
            <div class="col-md-4">

                    <a class="btn btn-primary btn-lg" href="{% url 'home' %}">Prendre une photo</a>
                   <a class="btn btn-danger btn-lg" href="#">Arrêter le drône</a>
            </div>

            <div class="col-md-4">
                </br>
                </br>
                <div class="panel panel-primary">
                    <div class="panel-body">Détails</div>
                    <div class="panel-footer">
                         <ul>
                             <li>État : <span style="color:#9FF781">Bon</span></li>
                            <li>Pression : {{images.pression}} kPa</li>
                            <li>Altitude : {{images.altitude}} m</li>
                            <li>Débit connextion : {{images.download_speed}} Mpbs</li>
                         </ul>
                        <div class="panel-body">Description</div>
                            <div class="panel-footer">
                              <p>{{images.source}}</p>
                            </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">
            {% block footer %}
            <div class="col-lg-12">
                <h3 class="page-header">Anciennes images</h3>
            </div>
            {% for element in images2 %}
                <div class="col-sm-3 col-xs-6">
                <a href="#">
                    {% if element.source == None %}
                    <img class="img-responsive portfolio-item" src="{% static  'media/no-image.png' %}" alt="">
                {% else %}
                {% with 'media/'|add:element.source as image_static %}
                <img class="img-responsive portfolio-item" src="{% static  image_static %}" alt="">
                {% endwith %}
                {% endif %}
                </a>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>

            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; DronoLab 2016</p>
                </div>
            </div>
            <!-- /.row -->

        </footer>
 {% endblock %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  {% endblock %}
</body>

</html>
